@import url("https://use.typekit.net/hjr3fsx.css");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #232025;
  color: #D5CDC4;
  scroll-behavior: smooth;
  font-family: nimbus-sans-extended,sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: none;
}

button {
  font-family: nimbus-sans-extended,sans-serif;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hideScroll::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-thumb {
  background-color: #D5CDC4;
  border: solid 1px #232025;
  border-radius: 5px;
}

p {
  font-weight: lighter;
}

strong {
  font-weight: 700;
}

blockquote {
  border-left: solid 5px #D5CDC4;
  padding-left: 10px;
}

.imageScale {
  transform: scale(1);
  animation-name: scale;
  animation-duration: 1s;
}

@keyframes scale {
  from { transform: scale(1.25); }
  to { transform: scale(1); }
}

.ais-SearchBox-input {
  background: #302B30;
  border-radius: 50px;
  font-size: 2.5rem;
  outline: none;
  border: none;
  border-bottom: dotted 2px;
  height: 150px;
  width: 100%;
  padding: 0 50px;
  color: white;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
};

.ais-SearchBox-input:focus {
  border-color: #FA2B7B;
};

.ais-SearchBox-submit {
  display: none;
}

.ais-HitsPerPage {
  display: none;
}

.ais-Hits-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

.ais-RefinementList-list {
  display: none;
}

.ais-SearchBox-submit {
  display: none;
}

.ais-SearchBox-reset {
  display: none;
}